// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$primary-color: #263453;
$secondary-color: #c5ca3d;
$third-color: rgb(33,162,186);
$white: #fff;
$orange: #dfac6a;

//GENERALES
@mixin transition($x...){
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

/*NUEVO LAYOUT*/
body, html{
    height: 100%;
    background-color: rgb(245,245,255);
}

header{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}
a{
    color: $orange;
}
a:hover{
    color: $primary-color;
}
#modern{
    width: 100%;

    .main-content{
        padding: 25px;

        &.page-admin{

            th:first-child{
                color: $third-color;
            }
        }

        &>.container{

            &>.row.justify-content-center{
                padding: 15px 25px;
                background-color: #fff;

                table, thead th{
                    color: #606060;
                }

                .company-logo{
                    max-width: 200px;
                }
            }
            &>.row.justify-content-center:last-child{
                background-color: #f5f5ff;
            }
        }
        &>.container-form{
            background-color: #fff;
            padding: 15px 25px;
            margin-top: 20px;
            min-height: inherit;

            label{
                color: $third-color;
            }
        }
    }

    .btn-outline-info {
        color: $orange;
        border-color: $orange;
    }
    .btn-outline-info:hover {
        background-color: $orange;
        color: $white;
        border-color: transparent;
    }

    .page-link{
        color: $primary-color;
    }
}
body.page-login #modern main.main-content{
    padding: 0;
}
.color-primary{
    color: $primary-color !important;
}
.color-secondary{
    color: $secondary-color !important;
}
.color-third{
    color: $third-color !important;
}
#modern .container,#modern .container-fluid{
    min-height: 100vh;
    max-height: 100%;
}

.col-welcome-brand{

}

.col-welcome-login{
    background-color: $primary-color;
    box-shadow: -5px 2px 9px 2px rgba(0,0,0,0.5);
}

.flex-fill {
    flex:1;
}



/*SIDEBAR*/
#sidebar {

    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    min-width: 250px;
    max-width: 250px;
    background: $primary-color;
    color: #fff;
    transition: all 0.3s;
    z-index: 8;
    min-height: 100vh;

    ul li a {
        text-align: left;
    }

    &.active{
        min-width: 80px;
        max-width: 80px;
        text-align: center;

        .sidebar-header h3,
        .CTAs,
        .logo-complete{
            display: none;
        }
        .sidebar-header strong,
        .sidebar-header .logo-partial {
            display: inherit;
        }
        ul li a {
            padding: 20px 5px;
            text-align: center;
            font-size: 0.8em;
        }
        ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
        }
        ul ul a {
            padding: 10px !important;
        }
        .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }
    }

    .sidebar-header {
        padding: 30px 5px;
        background: $secondary-color;
        background: #fff;
        text-align: center;
        display: block;

        .logo-thales{
            width: 100%;
            max-width: 120px;
        }
    }
    .sidebar-header strong, .sidebar-header .logo-partial {
        display: none;
        font-size: 1.8em;
    }
    ul.components {
        padding: 20px 0;
        border-bottom: 1px solid $primary-color;
        background-color: $primary-color;
        margin-bottom: 0;
    }
    ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    ul li a:hover {
        color: $primary-color;
        background: #fff;
    }
    ul li a i {
        margin-right: 10px;
    }
    ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: $third-color;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.8em !important;
        padding-left: 30px !important;
        background: $third-color;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: $primary-color;
    }

    a.article,
    a.article:hover {
        background: $third-color !important;
        color: #fff !important;
    }

    /*---*/
    ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: $third-color;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: $third-color;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: $primary-color;
    }

    a.article,
    a.article:hover {
        background: $third-color !important;
        color: #fff !important;
    }
    /*---*/
    .large-word-dropdown{
        display: inline-block;
        white-space: normal;
    }

}

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs ,
    #sidebar .logo-complete {
        display: none;
    }
    #sidebar .sidebar-header strong,
    #sidebar .sidebar-header .logo-partial {
        display: inherit;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/*SIDEBAR*/
#sidebarCollapse{
    border-radius: 0;
    position: absolute;
    top:0;
}

.logo-welcome{
    max-width: 80%;
}
.welcome-msg-inn{
    padding: 20vh 15vw;
    background-color: #fff;
}
.welcome-msg-txt{
    color: rgb(111,111,111);
    padding-top: 25px;
    font-size: calc(9px + 1.5vw);
}
.head-page{
    background-color: #fff;
    margin-bottom: 25px;
    margin-top: 20px;
    width: 100%;
    padding: 0 20px;

    .title-row{

        h1{
            color: #212529;
            font-size: 15px;
            text-transform: uppercase;
        }
    }

    .form-search-villamares{


        label{
            font-weight: bold;
        }
    }
}
.fa-title{
    color: $secondary-color;
}
.page-item.active .page-link {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #fff !important;
}
/*NUEVO LAYOUT*/

.navbar-custom {
    background-color: #fff;
    box-shadow: -3px 1px 4px 2px rgba(0, 0, 0, 0.5);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}
/* change the brand and text color */
.navbar-custom .navbar-brand img{
    width: 100px;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #555 !important;
}
/* change the color of active or hovered links */
.navbar-custom .nav-link.active ,
.navbar-custom .nav-link:focus,
.navbar-custom .nav-link:hover {
    color: #ddd;
}

.navbar-custom .dropdown-menu {
    background-color: #fff;
}

.navbar-custom .dropdown-menu .dropdown-item{
    color: #555;
}

.navbar-custom .dropdown-item:hover,.navbar-custom  .dropdown-item:focus{
    background-color: #ddd;
}

.btn-visyttex{
    background-color: #1ab096;
    color: #fff;
}
.btn-thales-primary{
    background-color: $primary-color;
    color: $white;
}
.btn-thales-secondary{
    background-color: $secondary-color;
    color: $white;
}
.link-white{
    color: $white;
}
select.form-control:disabled, select[disabled] {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background-color: #fff;
    border: none;
    padding: 0;
}

.table-hover tr:hover select.form-control:disabled, .table-hover tr:hover select[disabled] {
    background-color: #eaeaeb;
}
table.table-votaciones{
    width: inherit;
    max-width: 600px;

    .col-order{
        width: 70px;
        text-align: center;
    }
    .col-candidates{

    }
    .col-votes{
        width: 70px;
        text-align: center;
    }
}
.first-letter-uppercase:first-letter{
    text-transform: uppercase !important;
}
//END GENERALES



.custom-file-input ~ .custom-file-label::after {
    content: "Buscar";
}

.breadcrumb-nav{
    width: 100%;

    .breadcrumb{
        background-color: #fff;
    }
}

.btn-agregar-sistema{
    float: right;
    width: auto;
    background-color: $orange;
    color: $white;
}
.btn-buscar{
    background-color: $secondary-color;
    color: $white;
    width: auto;
}

.btn-danger{
    background-color: $orange;
    border-color: $orange;
    color: $white;
    width: auto;

    &:hover{
        background-color: $orange;
        border-color: $orange;
        color: $white;
    }
}
.card-header{
    background-color: $third-color;
    color: #fff;
    font-weight: bold;
}

//OPPORTUNITIES
.opportunities-head-inn{
    display: flex;
    justify-content: space-between;
    padding: 17px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    .opportunities-head-tit{
        font-size: 20px;
        color: #444;
    }
}
.opportunities-body-inn{
    display: flex;
    align-items: stretch;
    border-bottom: 2px solid #ccc;

    .opportunities-stage-wrapp{
        min-width: 234px;
        position: relative;
        border-left: 2px solid #ccc;
        background-color: #eee;

        &:last-child{
            border-right: 2px solid #ccc;
        }

        .opportunities-stage-inn{
            height: 100%;


            .opportunities-stage-title{
                background-color: $primary-color;
                font-weight: bold;
                color: #fff;
                text-align: center;
                padding: 13px 0;
                border-radius: 2px;
            }
            .opportunities-stage-body{
                max-height: 70vh;
                min-height: 450px;
                overflow-y: auto;
                padding-top: 25px;
                padding-bottom: 100px;

                .opportunity-amount{
                    font-size: 18px;
                    text-align: center;
                    padding: 10px 0;
                }

                .opportunity-inn{
                    padding: 0 10px;
                }
            }

            .opportunity-stage-footer{
                background-color: $secondary-color;
                font-weight: bold;
                color: #fff;
                text-align: center;
                padding: 13px 0;
                border-radius: 2px;
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }



    }

}
.easy-autocomplete{
    width: inherit  !important;
}

.dropdown-services-list{
    padding: 10px 40px;
}
//OPPORTUNITY PAGE


.opportunity-page-title-inn{
    background-color: $primary-color;
    color: #fff;
    padding: 25px;

    .opportunity-page-title-dscr{
        color: #eee;
        font-size: 16px;
    }
    .opportunity-page-title-name{
        font-size: 35px;
    }
}

.opportunity-page-content-inn{
    background-color: #fff;
    padding: 25px;

    .activities-wrapp{
        max-height: calc(100vh - 300px);
        overflow-y: auto;

        .morecontent span {
            display: none;
        }

    }

    .detail-wrapp{

        label {
            font-size: 13px;
            color: #999;
        }
        .form-control{
            border: none;
            padding: 0;
            border-bottom: 1px solid #888888;
        }
    }
}


.container-dashboard-opp{
    max-width: inherit;
}
.opportunities-wrapp{
    overflow-x: auto;
    padding: 25px;


    .opportunities-inn{
        width: 1500px;
    }
}
@media (max-width: 1640px) {
    .container-dashboard-opp{

    }

}

.col-option{
    width: 95px;
    text-align: center;
}

